/* SASS Variables */
$h-section: 25%;
$primary-color: #f5c013;
$amatic-font: 'Amatic SC', cursive;
$dosis-font: 'Dosis', sans-serif;
$screen: 100%;
$background-color: white;
$block-height: 100%;
$display: block;
$position: relative;
$background-repeat: no-repeat;
$background-size: cover;
$background-position: center bottom;
$border: solid white 1px;


/* SASS Mixins*/
@mixin screen-wh {
  	 height: $screen;
     width: $screen;
    
 }


 @mixin content-format {
  	background-color: $background-color;
  	height: 100%;
	display: block;
  	position: relative;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	border-top: solid white 1px;
 }



*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.center{
	text-align: center;
}

html,body{
	height: 100vh;
	max-height: 100vh;
	width: 100vw;
	max-width: 100vw;
}


#Cart{
	button{

		height: 35px;
		width: 30px;
		color: black;
		margin: 0 auto;
		text-align: center;
		background-color: white;
		border: 1px black solid;
		border-radius: 10px;
		margin-left: 10px;
		font-family: $dosis-font;
	}


	button:active{
		
			background-color:  #ffe6e6;
	}

}

#nav{
	background-color: $primary-color;
	height: 10%;
}


.cart_icon{

	position: absolute;
	font-size: 1em;	
	width: 20px;
	height: 20px;
	border-radius: 10px;
	border: solid black 1px;
	float: right;
	margin-right: 10px;
	text-align: center;
	margin-top: 25px;
	left: 90%;
	background-color: #f39c12;
	display: inline-block; 
}

.logo {

	img {
	  width: 30vh;
	padding-top: 1%;
	}

}

	/*start of splash page*/

#background{

	width: 100%;
	height: 90%;
	background-image: url(../assets/1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	position: absolute;

}

.btn_position{
	height: 80%;
	width: 200px;
	margin: 0 auto;
	text-align: center;
	
}


.btn-success{
	position: relative;
	top: 80%;
	background-color: rgba(0,0,0,0.7);
	color: white;
	height: 100px;
	width: 200px;
	font-size: 3em;
	font-family: 'Dosis', sans-serif;

}

/*framework*/


#sections{
	background-color: white;
	height: 90%;
	a{
		
		color: black;
		
	}
}

.row h2{

	font-family: 'Amatic SC', cursive;
	font-size: 4em;
	position: relative;
	top: 50%;
	transform: translateY(-50%); 
	text-decoration: none;
	font-weight: normal;
	margin: 0px;
}

.row{
	display: block;
	height: $h-section;
	
}

.row-1{
	height: 25%;
}

.row-2{

	height: 25%;
}

.row-3{
	height: 25%;
}

.row-4{
	height: 25%;
}

.row:before {
	display: table;
    content: " ";
    clear: both;
}

.row:after {
	display: table;
    content: " ";
    clear: both;
}

/*Menu Page*/
.column{ 
	@include screen-wh;
	float: left;
}

.breads{
	background-color: white;
	height: 100%;
	border-bottom: black solid 1px;
	a{
		text-decoration: none;
		color: black;
	}

	h2{

		position: relative;
		top: 50%;
		transform: translateY(-50%);

	}
}


.sweets{
	background-color: white;
	border-bottom: black solid 1px;
	display: inline-block;
		a{
	text-decoration: none;
	color: black;
	}

	h1{

		position: relative;
		display: inline-block;
	}

	h5{
		
	}
}



.coffee{
	background-color: white;
	border-bottom: black solid 1px;
}

.cabinet{
	background-color: white;
}

/*start of bread page*/

.sourdough{
	@include content-format;
	background-image: url(../assets/sd.png)
}


/*start of sweets page css*/

/*#Cart{
text-align: left;
}*/

.Add{
	display: inline-block;
	/*float: left;*/
}

.Remove{
	display: inline-block;
	float: left;
}


.box{
		width: 100%;
		height: 50%;
		float: left;
		text-align: center;
		color: white;
		position: relative;
		/*display: none;*/
	}

	.box2{

		width: 100%;
		height: 90%;
		background-color: white;
		float: left;
		z-index: 20;
		text-align: center;
		display: none;
		
	}

	.center_container{

		width: 100%;
		height: 70%;
		margin: 0 auto;
		margin-top: 30%;
		/*border: dotted black 1px;*/
		position: relative;


	}


	/*#show{

		width: 60px;
		height: 60px;
		background-color: green;
	}*/

	.close{
		width: 30px;
		height: 30px;
		/*background-color: blue;*/
		color: black;
		float: right;
		border: 1px solid black;
		/*border-radius: 20px;*/
		margin-top: 20px;
		margin-right: 20px;
	}


	#add_item{

		width: 100px;
		height: 60px;
		background-color: red;
		text-align: center;
		font-family: $dosis-font;
		display: inline;
		color: white; 
	}

	.row:after{
		content: "";
		clear: both;
		display: table;
	}


	.Add-btn{
		color: #286090;
		/*background-color: #286090;*/
		border-color: #204d74;
		width: 50px;
		height: 50px;
		text-align: center;
		margin: 0 auto;
		border-radius: 10px;
		border: #286090 3px solid;
		margin-top: 20px;
	}

	.Minus-btn{
		color: #286090;
		/*background-color: #286090;*/
		border-color: #204d74;
		width: 50px;
		height: 50px;
		text-align: center;
		margin: 0 auto;
		border-radius: 10px;
		border: #286090 3px solid;
		margin-left: 20%;
		margin-top: 20px;
	}

	.Remove{
		color: #fff;
		background-color: #286090;
		border-color: #204d74;
		width: 50px;
		height: 50px;
	}



.cookie{
	@include content-format;
	background-image: url(../assets/cookie.png);
	
}

.carrotcake{
	@include content-format;
	background-image: url(../assets/carrotcake.png);
}

.brownie{
	@include content-format;
	background-image: url(../assets/brownie.png);

		button{


		}

}
.content1{
	 position: relative;
  	 top: 3em;
  	 margin: 0 auto;
  	 /*float: right;*/
  	 color: black;
  	 transform: translateY(-30%);

	h1{
		img{
			height: 20px;
			width: 20px;
			/*background-color: white;*/
		}
	}

	h3{
		font-size: 4rem;
		margin-top: 30px;
		color: black;
		position: relative;
		z-index: 2;
		font-family: 'Amatic SC', cursive;
		position: relative;
		top: 50%;
		text-decoration: none;
		font-weight: normal;
	}

	h4{
		font-family: 'Dosis', sans-serif;
	}

	h5{
		font-family: 'Dosis', sans-serif;
		font-size: 2em;
		padding: none;
		margin: 0;
	}
	
}

.sweets_header{
	a{
	text-decoration: none;
	color: white;
	}

	h1{
	font-family: 'Exo', sans-serif;
	text-decoration: none;
	margin: 0px;
	color: white;
	position: relative;
	transform: translateY(50%);
	display: inline-block;

	}

}

.back{
height: 100%;
width: 20%;
float: left;
position: absolute;
	img{
	position: relative;
	height: 40px;
	width: 40px;
	/*display: inline-block;*/
	float: left;
	margin-top: 15px;
	margin-left: 15px;

	}


}


.items{
	display: block;
	height: 35%;

	h2{

	font-family: 'Amatic SC', cursive;
	font-size: 4em;
	position: relative;
	top: 50%;
	transform: translateY(-50%); 
	text-decoration: none;
	font-weight: normal;
	margin: 0px;
}

}

.item_block_1{
	width: 100%;
	float: left;
	background-color: white;
	border-bottom: black solid 1px;
}


.food_photo {
	
	position: relative;
	font-family: 'Dosis', sans-serif;



	img{ 
		position: relative;
		padding-top: 8%;
		max-width: 35%;
		padding-left: 5%

	}	
	h3{
		padding-left: 5%
	}

}

.add_item{
	position: relative;
	font-family: 'Dosis', sans-serif;
	float: right;
	transform: translateY(-110%);
	margin-right: 10px;
	text-align: right;


		img{

			/*height: 30px;
			width: 30px;*/

		}

		h3{

			margin: 0;
			padding: 0;
		}

		h4{

			margin: 0;
		}

		h5{
			margin: 0;
		
		}
}


select{
	position: relative;
	border: solid black 1px;
	transform: translateX(-15px);
}



/*Start of order page*/

.comfirmation{

	height: 100%;
	width: 100%;
	background-color: white;
	z-index: 1000;
	text-align: center;

	display: none;

	.btn{
		position: relative;
		width: 80px;
		height: 50px;
		border: solid black 1px;
	
		margin-top: 50%;
		

	}

}



#order_sections{
	background-color: white;
	height: 80%;


}

.order_box{
	position: relative;
	margin:  0 auto;
	/*border: 1px dotted black;*/
	height: 70%;
	width: 100%;
	/*margin-top: 10%;*/
	.btn{
		margin-top: 43%;
	}

}

.btn-primary{
float: right;
bottom: 0;
margin-right: 20px;

}

.order_content{
font-family: 'Dosis', sans-serif;
/*float: left;*/

	h1{
		padding-left: 10px;
		position: relative;
	}

	hr{
		color: black;
		margin-top: 10px;
		border-top: 1px solid black;
		width: 90%;
		margin-left: 10px;
	}



	

}


.added_order{
	display: inline-block;
	float: left;
	width: 95%;
	height: 100px;

	ul{
		/*font-family: #dosis-font;*/
		font-size: 1.5em;
		float: left;
		padding-left: 10px; 
		text-align: left;
	}

	h3{

			/*float: left;*/
			position: absolute;
			bottom: 0;
			margin-left: 10px;
			font-size: 2em;
		

	
		}

		/*h4{

			display: inline-block;
			float: right;
		}*/


}


.order_price{
	width: 30%;
	height: 100%;
	/*border: black 1px solid;*/
	background-color: white;
	float: right;
	
	padding-left: 40px;

		h4{
			margin-top: 2px;
			padding-right: 33%;
			float: right;
		}
}

.send_order{
	
	height: 10vh;
	width: 100%;
	margin: 0 auto;
	bottom: 40px;
	text-align: center;
	background-color: white;
	position: fixed;
	z-index: -1;



	

	button{
		position: relative;
		width: 100%;
		height: 60px;
		font-size: 1em;
		background-color: #e74c3c;
		font-size: 2em;


	}
}

.show{
	height: 0.1vh;
	width: 100%;
	margin: 0 auto;
	bottom: 60px;
	text-align: center;
	background-color: white;
	position: fixed;
	z-index: 4588;
	position: absolute;
/*	border: solid black 1px;*/

}


#Clear{
	position: relative;
	color: black;
	background-color: white;
	border-color: #204d74;
	width: 20%;
	height: 50px;
	text-align: center;
	margin: 0 auto;
	border-radius: 5px;
	border: #286090 3px solid;
	/*margin-top: 20px;*/
	font-family: $dosis-font;
	float: left;
	margin-left: 10px;
}

#Clear:active {
    /*content: "";*/
    background: black;
    opacity: 0;
    transition: all 0.8s
}


@media screen and (min-width:376px) and (max-width:599px) {
	.column{ 
		height: 100%;
		width: 100%;
		/*float: left;*/
	}

	.items {
		width: 100%;

	}

	.row-2{
		width: 100%;

	}

	
}

/*Tablet portrait*/

@media screen and (min-width:600px) and (max-width: 1023px) {
	.content1{
		transform: translateY(0%);
	}

	.column{ 
		height: 100%;
		width: 100%;
		float: left;

	}


	.back{
		img{
			height: 60px;
			width: 60px;
			margin-top: 22px;
			margin-left: 15px;
			}


}

.sweets_header{
	a{
	text-decoration: none;
	color: white;
	}

	h1{
	font-family: 'Exo', sans-serif;
	text-decoration: none;
	margin: 0px;
	color: white;
	position: relative;
	transform: translateY(50%);
	display: inline-block;
	font-size: 7vw;

	}

}

	.items {
		float: left;
		display: inline-block;
		width: 50%;


	}

	.brownie{
		border: solid white 1px;
	}
	.cookie{
		border: solid white 1px;
	}

	.carrotcake{

		border: solid white 1px;
	}


	.order_box{
	
		.btn{
			height: 80px;
			width: 160px;
		}

	}

	.send_order{

		

			height: 150px;
			bottom: 100px;
			font-size: 2.5em;
			button{

				height: 130px;
			}
		
	}

}

/*Tablet Landscape*/
@media screen and (min-width:1024px) {


	.items {
		float: left;
		display: inline-block;
		width: 50%;


	}

	.brownie{
		border: solid white 1px;
	}
	.cookie{
		border: solid white 1px;
	}

	.carrotcake{

		border: solid white 1px;
	}

	.order_box .btn{
		margin-top: 22%
	}

}
