*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-align: center;
}

html,body{
	height: 100vh;
	max-height: 100vh;
	width: 100vw;
	max-width: 100vw;
}

#nav{
	background-color: #f5c013;
	height: 10%;
}

.logo img{
	width: 50%;
	padding-top: 1%;
}
	


#sections{
	background-color: white;
	height: 90%;
}

h2{

	font-family: 'Amatic SC', cursive;
	font-size: 4em;
	position: relative;
	top: 50%;
	transform: translateY(-50%); 
}

.row{
	display: block;
	height: 25%;
	border-bottom: : black solid 1px;
}

.row-1{
	height: 25%;
}

.row-2{
	height: 25%;
}

.row-3{
	height: 25%;
}

.row-4{
	height: 25%;
}

.row:before {
	display: table;
    content: " ";
    clear: both;
}

.row:after {
	display: table;
    content: " ";
    clear: both;
}

.column{ 
	height: 100%;
	width: 100%;
	float: left;
}

.breads{
	background-color: white;
	height: 100%;
	border-bottom: black solid 1px;
	/*background-image: url(images.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;*/
}

.breads h2{

	position: relative;
	top: 50%;
	transform: translateY(-50%); 
}

.sweets{
	background-color: white;
	border-bottom: black solid 1px;
}

.coffee{
	background-color: white;
	border-bottom: black solid 1px;
}

.cabinet{
	background-color: white;
	/*border-bottom: black solid 1px;*/
}

@media screen and (min-width:376px) and (max-width:599px) {
	.column{ 
		height: 100%;
		width: 100%;
		/*float: left;*/
	}

	.breads{
		background-image: url(image-slider2.jpg);
	}
}

@media screen and (min-width:600px) and (max-width: 1023px) {
	.column{ 
		height: 100%;
		width: 100%;
		float: left;

	}


	#nav img{
	width: 40%;
	}
}


@media screen and (min-width:1024px) {


	#nav img{
	width: 20%;
	}

}